* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

.modules-left, .modules-center, .modules-right {
    background-color: #282828;
    color: #d5c4a1;
    padding: 4px 6px;
    border-radius: 30px;
    border: 3px solid #3c3836;
}

#workspaces button {
    font-size: 14px;
    color: #928374;
}

#workspaces button.active {
    color: #d5c4a1;
}

.modules-right {
    padding: 4px 10px;
    font-weight: bold;
}

.modules-right * {
    margin-right: 3px;
    margin-left: 3px;
}

#workspaces button {
    border-radius: 30px;
    font-size: 16px;
}

#tray {
    background-color: #504945;
    border-radius: 5px;
    padding: 3px;
}

#battery {
    border-radius: 5px;
}

#battery.warning {
    background-color: #fabd2f;
}

#battery.critical {
    background-color: #fb4934;
}

#network {
    border-radius: 5px;
    padding-left: 3px;
}

#network.disconnected {
    background-color: #cc241d;
}

#network.wifi {
    background-color: #98971a;
}

#network.ethernet {
    background-color: #689d6a;
}

#taskbar * * {
    color: #d5c4a1;
}

#taskbar * *:hover {
    background-color: #3c3836;
}

#taskbar.empty {
    opacity: 0;
}

#taskbar button.active {
    font-weight: bold;
}

tooltip {
    border-radius: 5px;
    background-color: #282828;
    color: #d5c4a1;
}
